/.DS_Store
card_templates/.DS_Store
poker_screenshot.png
src/config/__pycache__/regions.cpython-313.pyc
src/detector/__pycache__/text_detector.cpython-313.pyc
ipoker_hh/
ipoker_hh_test/
logs.json
opponent_model.h5
targets.csv
tabular_features.csv
sequence_features.csv
features.csv
poker_analysis_optimized.db-wal
poker_analysis_optimized.db-shm
poker_analysis_optimized.db
